body{
	background-color: #aaa;
}

#top{
	margin: 40px auto;
	text-align: center;
	font-size: 30px;
	color: #333;
	font-weight: bold;

}

#center{
	border: 1px solid black;
	width: 930px;
	height: 625px;
	margin: auto;
	background-color: #ffffe0;
}

#left{
	width: 150px;
	padding-top: 40px;
	padding-left: 40px;
	display: inline-block;
	margin-bottom: 250px;
}

.color{
	border: 1px solid #ccc;
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
}

#red{
	background-color: #cc0000;
}

#yellow{
	background-color: #ffec00;
}

#blue{
	background-color: #0000cc;
}

#white{
	background-color: white;
}

#right{
	border: 1px solid black;
	width: 680px;
	height: 540px;
	display: inline-block;
	margin: 40px auto;
	background-color: white;
}

.row{
	border-bottom: 10px solid black;
	width: 680px;
}

#row1{
	height: 120px;
}

#row2{
	height: 180px;

}

#row3{
	height: 100px;
}

.box{
	border-right: 10px solid black;
	height: 540px;
	display: inline-block;

}

#box1{
	width: 140px;

}

#box2{
	margin-left: 270px;
}

#box3{
	width: 100px;
}

