body{
	background-color: #aaa;
}

#top{
	margin: 30px auto;
	text-align: center;
	font-size: 30px;
	color: #333;
	font-weight: bold;
}

#center{
	border: 1px solid black;
	width: 930px;
	height: 540px;
	margin: auto;
	background-color: #ffffe0;
}

#left{
	float: left;
	width: 150px;
	margin-top: 40px;
	padding-left: 40px;
	margin-bottom: 225px;
}

.color{
	border: 1px solid #ccc;
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
	cursor: pointer;
}

#red{
	background-color: #cc0000;
}

#yellow{
	background-color: #ffec00;
}

#blue{
	background-color: #0000cc;
}

#white{
	background-color: white;
}

#right{
	border: 1px solid black;
	width: 650px;
	height: 460px;
	float: right;
	background-color: white;
	margin-top: 40px;
	margin-right: 50px;
}

.row{
	border-bottom: 10px solid black;
	width: 100%;
}

#row1{
	height: 115px;
}

#row2{
	height: 150px;

}

#row3{
	height: 105px;
}

#row4{
	height: 60px;
	border-bottom: 0;
}

.box{
	border-right: 10px solid black;
	float: left;
	height: 100%;
}

.box1{
	width: 140px;
}

.box2{
	width: 270px;
}

.box3{
	width: 100px;
}

.box4{
	width: 110px;
	border: 0;
}

#footer{
	width: 200px;
	height: 52px;
	background-color: #888;
	margin-top: 2px;

}

a{
	text-decoration: none;
}

#orange{
	width: 12px;
	height: 12px;
	background-color: orange;
}

#home{
	color: black;
	font-size: 12px;
}

#purple{
	width: 12px;
	height: 12px;
	background-color: purple;
}

#blog{
	color: black;
	font-size: 12px;
}

.tab{
	display: inline-block;
	margin-left: 10px;
}
